<<%- include('../partials/header') -%>


   <div class="row" style="margin: auto;" >
        <h1 style="text-align: center ; margin: 40px 300px"> Edit:   </h1>

          <div style="width: 30%; margin-left: 350px " >
  
             <form action="/Campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT " method="POST" style="margin-top: 35px;text-align: center;" >
               <div class="form-group" >
                 <input class="form-control" type="text" name="comment[text]" value="<% comment.text %>"> 
               </div>
               <!--  <div class="form-group" >
                 <input class="form-control" type="text" name="comment[author]" placeholder="author" > 
                </div>
                 -->
                   <button class="btn btn-lg btn-primary" style="margin: 25px auto; " >Submit!</button> 
               </form>

               <a  href="/campgrounds" >Go Back</a>
        </div>


           
    </div>


<%- include('../partials/footer') -%>